<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        {% load static %}
        <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous">
        </script>
        <title> Timothy Regana Tarigan </title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
                $( function() {
                $( "#accordion" ).accordion({
                collapsible: true,
                active : 'none'
                });
            } );
        </script>
        <script>
                $(document).ready(function(){
                    let isDark = false;
                    $("#theme").on("click", function(){
                        if(isDark){
                            $("body").css({backgroundColor:"white"})
                            $(".prof").css({color:"black"})
                            $(".sec").css({color:"black"})
                            $(".status").css({backgroundColor:"black"})
                            $(".desc").css({color:"white"})
                           
                            isDark = !isDark;
                        }
                        else{
                            $("body").css({backgroundColor:"black"})
                            $(".prof").css({color:"white"})
                            $(".sec").css({color:"white"})
                            $(".status").css({backgroundColor:"white"})
                            $(".desc").css({color:"black"})
                            
                            isDark = !isDark;
                        }
                    })

                    
                })
        </script>
    </head>

    <body>
        <h1 class=prof> HALO, APA KABAR?  </h1>
        
        <div class="col-md-8">
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" id="update" value="Update Status">
            </form>
            <button id="theme">Change theme</button>
        </div>
        </div>
        <div class="col-md-12">
            <p class="sec">Timeline</p>
            <div class="row">
                
                <div class="status col-md-3" >
                    {% for status in posts reversed %}
                    <p style="color:purple  ;">{{status.date}} - {{status.time}}</p>
                    <p class="desc">{{status.status}}</p><br>
                    {% endfor %}  
                </div>

                <div class="col-md-5">
                    <div id="accordion">
                        <h3 id="activity">Aktivitas</h3>
                        <div>
                            <p>
                            Gaming, membaca, musik
                            </p>
                        </div>

                        <h3 id="orgs">Pengalaman Organisasi</h3>
                        <div>
                            <p>
                                <li>Anggota OSIS SMP</li>
                                <li>Seksi dokumentasi di beberapa acara SMA</li>
                            </p>
                        </div>

                        <h3 id="achieve">Prestasi</h3>
                        <div>
                            <p>
                             uhhhhhhh
                            </p>
                        </div>
                    </div>
                </div>
                  
            </div>
        </div>  
        
    </body>
    
</html>
