<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        {% load static %}
        <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        
        <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous">
        </script>
        <title> Book Search </title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="{% static 'js/story8script.js' %}"></script>

    </head>
    <body>
        <h1 class="prof">SEARCH YOUR BOOK HERE</h1>
        <input id="input" type="text" placeholder="search..">
        <input type="submit" id="search" value="Search">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Cover</th>
                    <th scope="col">Author(s)</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody id="books">
            </tbody>
        </table>
    </body>
</html>