html{
    background-color: black;
}

.prof{    
    font-family: "Ubuntu", monospace;
    font-size: 60px;
    display: flex;
    margin: 30px;
    text-align: center;
    color: antiquewhite;

    
}

.desc{
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    text-align: left;
    margin-top: 30px;
    color: black;

} 

.status{
    background-color:slategray;
    border: 20px;
}

.sec{
    
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    
    letter-spacing: 15px;
    color:white;
    

}

.ui-accordion-header.ui-state-active {
    background-color:whitesmoke;
    color: black; 
}