
h1{
    color: black;
    font-family: "Montserrat", monospace;
    font-size: 72px; 
    margin: 20px;
    padding-left: 20px;
}
.intro{
    display: flex;
    padding-left: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 60px;
    
}
.about{
    font-family: 'Bree Serif', serif;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 0;
    letter-spacing: 5px;
    color: aliceblue;
    text-shadow: 5px 5px black;
}

.abt{
    font-family: 'Bree Serif', serif;
    font-size: 40px;

}
.desc{
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    text-align: left;
    margin-top: 30px;
    color: white;

} 
.prof{    
    font-family: "Ubuntu", monospace;
    font-size: 60px;
    display: flex;
    margin: 30px;
    text-align: center;

    
}
.second{
    background-image: url("/static/images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}
.sec{
    
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    
    letter-spacing: 15px;
    color: black;
    

}
.skill{
    align-items: center;
    padding: 20px;
    
}
.exp{
    font-family: 'Bree Serif', serif;
    font-size: 25px;
    letter-spacing: 3px;
    color: blanchedalmond;
    text-shadow: 2px 2px black;

}
a{
    color: black !important;
    font-size: 15px;
}
.moredesc{
   

    font-family: 'Bree Serif', serif;
    font-size: 25px;
    text-align: left;
    margin-top: 30px;
}

.status{
    background-color: black;
    border: 20px;
}

#accordion{
    color: black;
    font-family: 'Helvetica', sans-serif;
    font-size: 20px;
    
}

.ui-accordion-header.ui-state-active {
     background-color:black;
     color: aliceblue; 
}
