<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Page - Story 9</title>
    </head>
    <body>
        <h1 id="hello">Welcome.</h1>
        <form class="auth-form" action="{% url 'Story9:intro' %}" method="POST">
            {% csrf_token %}
            <label for="id_username">Username:</label>
            <input type="text" name="username" autofocus="" required="" id="id_uname">
            <br>
            <br>
            <label for="id_password">Password:</label>
            <input type="password" name="password" required="" id="id_pw">
            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
            {% endif %}
            <input type="submit" id="login" value="Login">
        </form>

    </body>    
</html>