<!DOCTYPE html>
<html>
    <head>
        <h1 id="logged">Logged in!</h1>
        <title>Logged In - Story 9</title>
    </head>
    <body>
        <h1>Hello, {{ user }}</h1>
        <a href="{% url 'Story9:logout' %}">
            <button id="logout">Logout</button>
        </a>

    </body>
</html>